<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gsbelarus.scanner">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <service
            android:name="com.gsbelarus.scanner.ScannerCodeService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.gsbelarus.scanner.ScannerCallbackTaskService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
